# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/

# Large data files
*.csv