<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>

    <!-- Leaflet Stylesheet Link -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />

    <style>
      #map {
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <!-- Load Leaflet Library -->
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""
    ></script>

    <script>
      const map = L.map("map").setView([34.0, -77.0], 7);

      L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: "© OpenStreetMap",
      }).addTo(map);

      fetch("/api/vessels")
        .then((response) => response.json())
        .then((vessels) => {
          console.log(vessels);

          for (const vessel of vessels) {
            L.marker([vessel.LAT, vessel.LON])
              .addTo(map)
              .bindPopup(`MMSI: ${vessel.MMSI}`);
          }
        });
    </script>
  </body>
</html>
